<!DOCTYPE html>
<html lang="eng" dir="ltr">
	<head>
	   <meta charset="utf-8">
	   <title>Contacts</title>
	   <link rel="stylesheet" type"text/css" href="contactstyle.css">
	   <link rel="shortcut icon" type="image/css" href="logo.png">
	</head>
	<body>
	     <a href="Index2.html" class"button"> <img src="backarrow.png" alt="backarrow" height="40" width"55"> </a>
<br>
	     <div class="first">
	<br>	
	<br>	
		   <h1>Contact Me</h1>
	<br>
	<br>
	<br>
		<p>
		   <image src="https://thumbs.dreamstime.com/b/black-handset-icon-white-background-vector-illustration-eps-format-phone-icon-black-white-telephone-symbol-vector-132728260.jpg" width="160" height="150">
		   <image src="https://icons-for-free.com/iconfiles/png/512/book+circle+contact+contacts+email+gmail+icon-1320073243450677731.png" width="160" height"150">
		</p>
		<br>
		<br>
	    </div>
		<br>
	    <div class="second">
		<br>
		<p> 09054232062</p>
		<p>Quibaol Lingayen,Pangasinan</p>
		<p><a href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=act"> eloisaprado116@gmail.com </a>
		<br>
		<br>
	    </div>
		
	    <div id="Footer">
		<!-- Left part footer -->
		<div  style="position: none; float: left; font-size: 1.4vw; width: auto;height: auto;margin-left: auto;margin-top: 40px;">
			<ul id="Footer1">
				<li id="Footer2"><a id="Footer3" href="socialmedia.html" style="margin-right: 15px;">Feedback |</a> </li>
				<li id="Footer2"><a id="Footer3" href="Report.html">Report Problem |</a> </li>
				<li id="Footer2"><a id="Footer3" href="helpcenter.html">Help Center |</a></li>
			</ul>
		</div>

		<!-- Right part Footer -->
		<div style="position: none;float: right; font-size: 1.4vw; width:auto; height;auto: auto;margin-right: auto;margin-top: 40px;">
			<ul id="Footer1">
				<li id="Footer2"><a id="Footer3" href="useragreement.html" style="margin-right: 15px;">User Agreement |</a> </li>
				<li id="Footer2"><a id="Footer3" href="Index2.html">Developer |</a> </li>
				<li id="Footer2"><a id="Footer3" href="contact.html">Support |</a></li>
			</ul>
		</div>
		<table style="width: auto;height: auto;margin-left:auto;margin-right:auto; auto;margin-top: 40px;margin-bottom: 20px;">
		<tr>
				<th><a href=""><img class="Footer1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzLAZ3H7Q647Oy3u1u4RfNfG2QQOYA2dl9TcMsg3ZP3z2igSNu&usqp=CAU" style="width: 3vw;height: 5vh;margin-right: 3px;"></th>
				<th><a href=""><img class="Footer1" src="https://png.pngtree.com/png-clipart/20190515/original/pngtree-instagram-black-amp;-white-icon-png-image_3547797.jpg" style="width: 3vw;height: 5vh; margin-right: 5px;"></a></th>
				<th><a href=""><img class="Footer1" src="https://i.vippng.com/png/small/28-283916_png-file-download-icon-twitter-png.png" style="width: 3vw;height: 5vh; margin-right: 5px;"></a></th>
				<th><a href=""><img class="Footer1" src="https://icons-for-free.com/iconfiles/png/512/book+circle+contact+contacts+email+gmail+icon-1320073243450677731.png" style="width: 3.2vw;height: 5vh;margin-left: 5px;margin-right: 5px;"></a></th>
		</tr>
			</table>
	
			
		   
	<br>	
	<br>	
		</div>

</body>
</html>