<!DOCTYPE html>
<html lang="eng" dir="ltr">
	<head>
	   <meta charset="utf-8">
	   <title>Social Media Accounts</title>
	   <link rel="stylesheet" type="text/css" href="socialmediastyle.css">
	   <link rel="shortcut icon" type="image/css" href="logo.png">
	</head>
	
	<body>
		
	        <a href="Index2.html" class"button"> <img src="backarrow.png" alt="backarrow" height="40" width"55"> </a>
		
            <div class="first">
	      <br>
	      <br>
	    	<h2>SOCIAL MEDIA ACCOUNTS</h2>
	      <br>
	      <br>
	    </div>
	 	
	    <div class="second">
		
		<table cellpadding="10" cellspacing="10"
		  <tr>
		   <th><img src="https://www.nicepng.com/png/detail/52-528221_free-twitter-logo-black-and-white-png-transparent.png" height="50" width="60"></th>
		    <td><a href="https://web.facebook.com/prado.eloisa"> eloisaprado16@yahoo.com </a> </td>
		  </tr>
		  <tr>
		   <th><img src="https://www.kindpng.com/picc/m/82-825331_twitter-logo-png-black-twitter-logo-transparent-background.png" height="50" width="60"></th>
		    <td><a href="https://twitter.com/_ellllllle"> @_ellllllle</a> </td>
		   </th>
		  </tr>
		  <tr>
		   <th><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-1/1024/instagram-512.png" height="50" width="60"></th>
		    <td><a href="https://www.instagram.com/yessitsme_eloisa/">yesitsme_eloisa </a> </td>
		  </tr>
		</table>
		
		</div>
		<div id="Footer">
		<!-- Left part footer -->
		<div  style="position: none; float: left; font-size: 1.4vw; width: auto;height: auto;margin-left: auto;margin-top: 40px;">
			<ul id="Footer1">
				<li id="Footer2"><a id="Footer3" href="socialmedia.html" style="margin-right: 15px;">Feedback |</a> </li>
				<li id="Footer2"><a id="Footer3" href="Report.html">Report Problem |</a> </li>
				<li id="Footer2"><a id="Footer3" href="helpcenter.html">Help Center |</a></li>
			</ul>
		</div>

		<!-- Right part Footer -->
		<div style="position: none;float: right; font-size: 1.4vw;auto: 30%;auto: auto;margin-right: auto;margin-top: 40px;">
			<ul id="Footer1">
				<li id="Footer2"><a id="Footer3" href="useragreement.html" style="margin-right: 15px;">User Agreement |</a> </li>
				<li id="Footer2"><a id="Footer3" href="Index2.html">Developer |</a> </li>
				<li id="Footer2"><a id="Footer3" href="contact.html">Support |</a></li>
			</ul>
		</div>
		<table style="width: auto;height: auto;margin-left:auto;margin-right:auto; auto;margin-top: 40px;margin-bottom: 40px;">
		<tr>
				<th><a href=""><img class="Footer1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzLAZ3H7Q647Oy3u1u4RfNfG2QQOYA2dl9TcMsg3ZP3z2igSNu&usqp=CAU" style="width: 3vw;height: 5vh;margin-right: 3px;"></th>
				<th><a href=""><img class="Footer1" src="https://png.pngtree.com/png-clipart/20190515/original/pngtree-instagram-black-amp;-white-icon-png-image_3547797.jpg" style="width: 3vw;height: 5vh; margin-right: 5px;"></a></th>
				<th><a href=""><img class="Footer1" src="https://i.vippng.com/png/small/28-283916_png-file-download-icon-twitter-png.png" style="width: 3vw;height: 5vh; margin-right: 5px;"></a></th>
				<th><a href=""><img class="Footer1" src="https://icons-for-free.com/iconfiles/png/512/book+circle+contact+contacts+email+gmail+icon-1320073243450677731.png" style="width: 3.2vw;height: 5vh;margin-left: 5px;margin-right: 5px;"></a></th>
		</tr>
			</table>
</body>
</html>