		div.first{
			width: 100%;
			height: 100%;
			background-color:#141d26; ;
			border: none;
			text-align: center;
			position: relative;
			float: center;
			margin-bottom: 10px;
			margin-top: 8px;
			margin-right: 40px; 
			border-radius: 20px;
		}
		div.gallery {
 			 margin: 20px;
  			border: .5px solid #ccc;
  			float: left;
  			width: 291px;
				}

		div.gallery:hover {
 			 border: .7px solid #777;
				}

		div.gallery img {
  			width: 100%;
  			height: auto%;
				}
		body {
		    background-color: white;
		    background-size: 1500px 300px;
			}
		 h1 { font-family: "Skate Brand", courier; 
			font-size: 120px;
			color:white; 
			font-style: normal;
		        font-variant: normal; 
			font-weight: 21; 
			line-height: 26.4px; }
		 p { font-family: "Firenza", courier;
			font-size: 50px;
			color:white; 
			font-style: normal;
		        font-variant: normal; 
			font-weight: 21; 
			line-height: 30.4px; }
		.button {
 		     background-color: black
  		     border: none;
 		     color: white;
		     padding: 15px 32px;
	   	     text-align: center;
		     text-decoration: none;
 		     display: inline-block;
		     font-size: 16px;
			}
		div.gallery {
 			 margin: 25px;
  			border: .5px solid #ccc;
  			float: left;
  			width: 280px;
				}

		div.gallery:hover {
 			 border: .7px solid #777;
				}

		div.gallery img {
  			width: 100%;
  			height: auto%;
				}

		div.desc {
  			padding: 30px;
  			text-align: center;
				}
		#Footer{
			width: 100%;
			height: 95%;
			background-color:rgba(0, 0, 0,0.6)  ;
			position: relative;
			float: right;
			border-color: none;
			border-style: solid;
			border-radius: 15px;
			border-width: 2px;
			margin-top: 3px;
			margin-bottom: 2px;
			color: none;
			}

		#Footer2{
			float: left;
		}

		#Footer3{
			text-decoration: none;
			margin-left: 20px;
			margin-right: 15px;
			color: white;
		}

		#Footer3:hover{
			background-color: rgba(0, 0, 0,0.6) ;
			transition: .7s all;
			border-radius: 15px;

		}
		ul{
 		   list-style-type: none;
  		   margin: 0;
 		   padding: 3pxs;
  		   overflow: hidden;
  		   background-color:none;
			}

	       li {
  		  float: center;
			}

	       li a {
  		  display: block;
  		  color: white;
  		  text-align: center;
  		  padding: 15px 5px;
  		  text-decoration: none;
			}

	       li a:hover:not(.active) {
		  background-color: #111;
			}
